body{
    background-color: rgb(245, 229, 3);
}
.container {
    background-color: rgb(255, 250, 250);
    display: flex;
    justify-content: space-between; /* ou 'space-between' ou 'center' */
    flex-wrap: wrap; /* permite quebrar linha em telas pequenas */
    gap: 20px;
    padding: 50px;
   
}
 
.container > div {
    width: 30%; /* controla o tamanho de cada box */
    background-color: #fa0a0a;
    border: 5px;
    border: 2px solid white;
    border-color: rgb(250, 193, 5);
    padding: 10px;
    box-sizing: border-box;
}
.container img,
.container h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.container h3 {
    color: rgb(245, 229, 3);
}