body{
    background-color: rgb(250, 144, 6);
}

.container-box{
    background-color: rgb(226, 207, 32);
    width: 500px;
    height: 200px;
    margin: 0 auto;
}
.texto{
    color: rgb(241, 7, 191);
    text-align: center;
}